*{
    text-decoration: none;
}
body{
    width: 90%;
    margin-left:10%;
    font-family: 'Times New Roman', Times, serif;
}
.testred{
    color: crimson;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
/*HEADER*/
#header{
    display: flex;
    justify-content: space-between;
}
/*Navigation*/
nav{
    width:70%;
}
nav ul li{
    display: inline-block;
    margin-left: 70px;
    list-style: none;
}
nav ul li a{
    color: black;
    font-size: 16px;
}
nav ul li a:hover{
    border-bottom: 2px solid orangered;
}
/*Main*/
.row{
    display: flex;
}
.firstcolumn{
    width:50%;
}
.secondcolumn{
    width: 50%;
}
/*First Row*/
.title1{
    color: #00264d;
    font-family: "Jazz LET", fantasy ,Courier, monospace,"Andale Mono", monospace;
    font-size: 50px;
    word-spacing: 5px;
    margin-bottom: 20px;
}
#firstrow p{
    width: 40%;
    font-size: 15px;
}
#firstcolumn{
    padding-top: 100px;
}
/*Buttons*/
#button{
    margin-top: 50px;
}
.button-plus{
    border: 5px solid #cc0000;
    padding: 5px 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: red;
    border-radius: 20px 20px;
    margin-bottom: 10px;
}
#button img{
    width: 50px;
} 
/*Symptomes*/
#sypmtomes{
    width: 80%;
    margin-top: 100px;
}
#spreads h2{
    font-size: 40px;
    padding-left: 80px;
}
#spreads{
    width: 55%;
    margin-left: 25%;
    margin-bottom: 60px;
}
#spreads p{
    text-align: center;
}
#secondrow{
    justify-content: space-around;
    margin-left: 15%;
}
.item1 img{
    width: 40px; 
}
.items{
    width: 30%;
    text-align: justify;
}
.items img{
    margin-left: 50px;
    margin-bottom: 20px;
}
.item2 img{
    width: 25px;
}
/*Coronavirus Symptomns*/
.row3{
    margin-top: 100px;
    width: 100%;
}
.row3 img{
    margin-right: 10%;
}
.soc{
  margin: 0 200px;
}
.soc ul{
    display: flex;
    justify-content: space-between;
}